@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    padding-right:5px;
  }

body{
  margin:0;
  font-family:'Lato';
}

header {
  padding:20px 0px 20px 0px;
  font-weight:400;
}

header:after{
  content:' ';
  display:table;
  clear:both;
}

header h1{
  float:left;
  font-size:1em;
  letter-spacing: 3px;
  margin:0;
  padding-left:28px;
}

header ul{
  padding:0;
  margin:0;
  list-style:none;
}

header nav{
  float:right;
}

header nav a {
  font-size:1em;
  padding:0 1em;
}


header nav li{
  display:inline-block;
}

header a {
  text-decoration:none;
  color:#000;
}

header h1 a{
  text-decoration:none;
}

.CodeMirror{
  font-family:'Helvetica Neue'
}

footer{
  background:#f7f7f7;
  border-top:1px solid #ddd;
  position:fixed;
  bottom:0;
  z-index:999;
  width:100%;
  padding:15px 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size:0.7em;
}

footer:after{
  content:'';
  display:table;
  clear:both;
}

.left{
  float:left;
}

.right{
  float:right;
}

footer, footer a {
  color:#000;
  box-sizing:border-box;
  text-decoration:none;
}

.opts{
  width:75px;
  position:absolute;
  right:10px;
  top:10px;
  z-index:999;
}
.opts span{
  position:absolute; 
  right:8px;
  top:8px;
  color:#666;
}

.active span{
  transform:rotate(180deg);
  transform-origin:50% 50%;
}